<div class="h-full bg-gray-800 text-gray-100 w-64">
  <div class="p-6">
    <h2 class="text-2xl font-bold">Dashboard</h2>
  </div>
  <nav class="mt-6">
    <a
      routerLink="/home"
      class="block py-2.5 px-4 hover:bg-gray-700 transition duration-200"
    >
      <i class="bi bi-house mr-3"></i> Home
    </a>
    <a
      routerLink="/home/cursos"
      class="block py-2.5 px-4 hover:bg-gray-700 transition duration-200"
    >
      <i class="bi bi-book mr-3"></i> Cursos
    </a>
    <a
      routerLink="/home/meus-cursos"
      class="block py-2.5 px-4 hover:bg-gray-700 transition duration-200"
    >
      <i class="bi bi-journal-text mr-3"></i> Meus Cursos
    </a>
    <a
      routerLink="/home/certificados"
      class="block py-2.5 px-4 hover:bg-gray-700 transition duration-200"
    >
      <i class="bi bi-award mr-3"></i> Certificados
    </a>
    <a
      routerLink="/home/configuracoes"
      class="block py-2.5 px-4 hover:bg-gray-700 transition duration-200"
    >
      <i class="bi bi-gear mr-3"></i> Configurações
    </a>
    <a
      routerLink="/auth/logout"
      class="block py-2.5 px-4 hover:bg-gray-700 transition duration-200"
    >
      <i class="bi bi-box-arrow-right mr-3"></i> Logout
    </a>
  </nav>
</div>
